@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.prueba {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bold;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;



}
.logoInventado{
  width: 50px;
  height: 50px;
  margin-right: 1450px;
  
}
.location{
  align-items: center;
  display: block;
  margin-left: 750px;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

.imageMain{
  width: 1950px;
  height: 460px;
}
.imageMain2{
  margin-top: 25px;
  width: 200px;
  height:200px
}
.alineacion{
  align-content: center;
  align-items: center;
  text-align: center;
}
